<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^photos([0-9]+)$ /showMyShape.php?id=$1r [L]
RewriteRule ^photos([0-9]+r[0-9]+)$ /showMyShape.php?id=$1 [L]
RewriteRule ^thumb([0-9]+r[0-9]+).jpg$ /thumb.php?id=$1 [L]
RewriteRule ^composition.jpg$ /download.php [L]
</IfModule>
<Files thumb.jpg>
SetHandler application/x-httpd-php
</Files>
